@import 'functions';

.ActivitySelector {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: calc-size(100);

  .pulse {
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 50%;
  }

  .label-form {
    margin-right: calc-size(10);
  }

  .label-form .form-input {
    background-color: #383838;
    border: none;
    outline: none;
    color: #dfe2de;
    border-bottom: calc-size(1) solid;
    font-size: calc-size(24);
    text-align: center;
  }

  .add-button-wrapper {
    height: calc-size(50);
    width: calc-size(50);
    margin-left: calc-size(10);
    cursor: pointer;
  }

  .activity {
    margin: calc-size(10);
    cursor: pointer;
    height: calc-size(45);
    display: inline-flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding-left: calc-size(10);
    padding-right: calc-size(10);
    font-size: calc-size(24);
  }

  .selected {
    background-color: grey;
    border-radius: calc-size(20);
  }

  .cell {
    width: calc-size(25);
    height: calc-size(25);
    display: inline-block;
  }

  .label {
    margin-left: calc-size(10);
    display: inline-block
  };
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 calc-size(10) rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 calc-size(20) rgba(204,169,44, 0);
      box-shadow: 0 0 0 calc-size(20) rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}