@import './functions';

.App {
  user-select: none;
  color: #dfe2de;

  .title {
    font-size: calc-size(42);
    text-align: center;
    margin-top: calc-size(30);
    margin-bottom: calc-size(30);
  }

  .activity-selector-wrapper {
    margin-top: calc-size(30);
    margin-bottom: calc-size(30);
  }
}