@import 'functions';

.Grid {
  // text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .day {
    height: calc-size(48);
  }

  .weekday-labels {
    display: inline-block;
  }

  .weekday-labels {
    line-height: calc-size(48);
    margin-right: calc-size(5);
    font-size: calc-size(18);

    .label.left {
      text-align: right;
    }
      
    .label.right {
      text-align: left;
    }
  }

  .week {
    display: inline-block;
  }

  .time-label {
    display: inline-block;
    font-size: calc-size(18);
    width: calc-size(40);
    margin: calc-size(5);
    text-align: center;
  }
}